#image__btn {
    background: #d6d6d6;
    font-weight: 600;
    line-height: 32px;
    color: black;
}

.image__style {
    padding: 20px 20px 20px 20px;
}

.image_display img {
    width: 50%;
    margin-top: 15px;
}