.payment-period__payments__item {
    position: relative;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 8px 14px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #7c7c80;
}

.payment-period__payments__item--active {
    color: #2bb4c0;
    font-weight: 600;
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.payment-period__payments__item--active::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    /* background: rgb(88, 147, 241); */
}

/* .content-tabs {
    flex-grow: 1;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
} */

