/* CSS */
.button-71 {
  background-color: white;
  border: 0;
  border-radius: 5px;
  color: #FE4F62;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 48px;
  text-align: center;
}

@media (max-width: 768px) {
  .button-71 {
    padding: 16px 48px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}