/* CSS */
.button-71 {
  background-color: white;
  border: 0;
  border-radius: 5px;
  color: #FE4F62;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 48px;
  text-align: center;
  margin-bottom: 10px;
}

.button-71:before {
  background-color: initial;
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

/* .button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
} */

@media (max-width: 768px) {
  .button-71 {
    padding: 16px 48px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}