main {
    margin-top: 60px;
    overflow: hidden;
}

.home .home-title {
    padding-bottom: 100px;
}

.home-title {
    text-align: center;
    padding: 24px
}

.skeleton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}