main {
    margin-top: 60px;
    overflow: hidden;
}

.home .home-title {
    padding-bottom: 100px;
}

@media (max-width: 90em) {
    .home-title {
        padding: 24px;
    }
}

.home-title {
    position: relative;
    text-align: center;
}